$gray-dark:          #666666;
$gray:               #545454;
$gray-light:         #f4f4f4;

$color-primary:            #b9261e;
$color-primary--opacity:   rgba(185, 38, 30, 0.7);
$color-secondary:          #373577;
$bg-white:                 #ffffff;
$bg-black:                 #000000;
$text-white:               #ffffff;
$text-black:               #000000;
$line-light:               rgba(255, 255, 255, 0.8);


$font--sm:            12px;
$font--md:            14px;
$font--lg:            16px;
$font--large:         18px;


$title-font--sm:         16px;
$title-font--md:         18px;
$title-font--lg:         24px;
$title-font--large:      45px;
$title-font--largest:    52px;


$line--xs: 1em;
$line--sm: 1.1em;
$line--md: 1.2em;
$line--lg: 1.45em;
$line-xlg: 1.65em;


$mobile-width--sm: "(max-width: 480px)";
$mobile-width--md: "(max-width: 568px)";
$tablet-width--xs: "(max-width: 767px)";
$tablet-width--sm: "(max-width: 991px)";
$tablet-width--md: "(max-width: 1023px)";
$desktop-width-sm: "(max-width: 1170px)";
