.info {
  position: relative;
  width: 100%;
  padding: 0 46px;
  box-sizing: border-box;

  @media #{$desktop-width-sm} {
    padding: 0 26px;
  }
  @media #{$tablet-width--xs} {
    padding: 0 15px !important;
  }
}

.info__pic {
  float: left;
  width: calc(50% - 25px);
  margin-bottom: 25px;
  margin-right: 25px;
  line-height: 0;

  img {
    width: 100%;
  }
}
.info__pic--ml {
  margin-left: -30px;

  @media #{$desktop-width-sm} {
    margin-left: 0;
  }
}

.info__text {

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.info__text--sm {
  font-size: $font--sm;
  line-height: $line--lg;
  margin-bottom: 5px;
}

.info__text--row {
  display: flex;
  align-items: flex-start;

  @media #{$mobile-width--sm} {
    margin-bottom: 26px;
    display: block;
  }
}

.info__text--list {
  margin-bottom: 40px;
}
