.main-contacts {
  margin: auto;
  margin-left: 0;
  margin-bottom: 0;
}

.main-contacts__tel {
  font-family: 'Akrobat', Arial, sans-serif;
  font-weight: 700;
  font-size: $font--large;
  color: $text-white;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    color: $color-primary;
  }
}
