.main-menu {
  margin-bottom: 15px;
  padding: 0;
}

.main-menu__item {
  list-style: none;
  border-bottom: 1px solid $line-light;
}

.main-menu__link {
  display: block;
  padding: 15px 0;
  color: $text-white;
  font-size: $font--lg;
  line-height: $line--md;
  text-transform: uppercase;
  font-family: 'Bebas Neue Book', Arial, sans-serif;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    color: $color-primary;
    text-decoration: none;
  }
}

.main-menu__link--active {
  color: $color-primary;
}
